*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.layout {
  height: 100dvh;
  background-color: #999;
}

.todo-content {
  height: 150px;
}

.form-check-input {
  cursor: pointer;
}

.disabled-todo {
  background-color: #f2f2f2;
  opacity: 0.8;
}

.todo-card {
  transition: all 300ms ease-in-out;
}
